.tales {
    width: 100%;
  }
  .carousel-inner{
    width:100%;
    max-height: 500px !important;
  }
.container {
    margin-top: 10px;
    margin-bottom: 10px;
}
.jumbotron {
    padding-top: 1.2vw;
    height: 15vw;
}

.display-4{
    color: white;
    font-size: 4.5vw;
    text-shadow: 1px 1px 1px black;
}
.lead{
    color: white;
    font-size: 2vw;
    text-shadow: 1px 1px 1px black;
}
.navbar{
    background-color: white;
}
.bowling{
    background-color: rgba(88, 5, 88, 0.767);
    color:white;
}
.bocce{
    background-color:rgba(22, 112, 22, 0.877);
    color:white
}
.dodgeball{
    background-color: rgba(14, 14, 212, 0.781);
    color:white;
}
.kickball{
    background-color:  rgba(201, 15, 15, 0.726);
    color:white;
}
.h3{
    font-size: 4vw;
}
.details{
    font-size: 2vw;
}
.logos{
    width: 5vw;
    padding: 0.5vw;
}
.sports-entry{
    margin: 10px;
}
.bowlinglogo{
    padding:0px;
    width:100%;
    max-height:500px;
}
.boccelogo{
    padding:0px;
    width:100%;
    max-height:500px;
}
.dodgeballlogo{
    padding:0px;
    width:100%;
    max-height:500px;  
}
.kickballlogo{
    padding:0px;
    width:100%;
    max-height:500px;
}
.lowernav{
    padding:10px;
    color: lightgray;
    align-items: right;
}
.lowerlink{
    color:lightgray;
    padding:10px;
}
.card-title{
    text-align: center;
}
.card-body{
    height:20vw;
}
.card-text{
    height:7.5vw;
}
.lownav{
    text-align: right;
}
.fa-address-card{
    font-size: 5vw;
}
.col-md{
    padding:.1vw;
}
.fab{
    padding-right:0.5vw;
}